@{
    /**/

    ViewBag.Title = "Trang chủ";

}

<div class="container-web">
    <div class="alert alert-success text-center">
        <h4>Trang chủ</h4>
    </div>
    @Html.ActionLink("Thêm hàng mới", "add", "Home", null, new { @class = "btn btn-success" })

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Mã hàng</th>
                <th>Tên hàng</th>
                <th>Ngày hết hạn</th>
                <th>Số lượng tồn</th>
                <th>Thao tác</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in ViewBag.data)
            {
                <tr>
                    <td>@r.id</td>
                    <td>@r.name</td>
                    <td>@r.expired.ToString("dd - MM - yyyy")</td>
                    <td>@r.total</td>

                    <td>
                        @Html.ActionLink("Sửa", "edit", "Home") |
                        @Html.ActionLink("Xóa ", "delete", "Home")|
                        @Html.ActionLink("Chi tiết", "detail", "Home")
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>