@model CNDOTNET.Models.HangHoa

@{
    ViewBag.Title = "detail";
}


<div class="alert alert-success text-center">
    <h4>Chi tiết sản phẩm</h4>
</div>

<div class="row>
    <div class="">

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.Label("Tên")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt>
                @Html.Label("Ngày hết hạn")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.expired)
            </dd>

            <dt>
                @Html.Label("Tổng tiền")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.total)
            </dd>

        </dl>

        <p>
            @Html.ActionLink("Sửa", "edit", new { id = Model.id }) |
            @Html.ActionLink("Quay lại", "Index")
        </p>

    </div>
</div>